<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>LOG IN PAGE</h1>
      <form action="/login/getdata" method="POST">
        User: <input type="text" name="username"><br/>
        Password: <input type="text" name="pwd"><br/>
        <input type="submit" value="Log In">
    </form>

  </body>
</html>
