<!DOCTYPE html>
<html>
  <head>
    <title>Menu Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Menu Page</h1>
      <li><a href="/movies/searchmovie">Search A Movie</a></li>
      <li><a href="/movies/createmovie">Create A Movie</a></li>
      <% if(data == 'isAdmin') { %>
      <li><a href="/users">Users Management Page</a></li>
      <% } %>


  </body>
</html>
