<!DOCTYPE html>
<html>
    <head>
        <title>Search Results Page  </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/movies">
            <button type="submit">Back to Meny</button>
            <!-- <input type="button" value="Back to Menu"> -->
          </form>

        <h1>Search Results Page</h1>

        <table border="1">
            <tr>
                <th>Movie details</th>
                <th>All movied with the same genre</th>
            </tr>

        </table>



    </body>
</html>