<!DOCTYPE html>
<html>
  <head>
    <title>user management page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>user management page</h1>
  </body>
</html>
